@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #f8f2f1;
}


  
code {
    font-family: monospace;
  }

@font-face {
  font-family: 'Maven Pro';
  src: url('/fonts/static/MavenPro-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  /* Scrollbar Track */
  .scrollbar-track-gray {
    scrollbar-color: rebeccapurple green; /* Scroll thumb and track */
    scrollbar-width: thin;
  }

  /* Scrollbar Thumb */
  .scrollbar-thumb-rounded {
    &::-webkit-scrollbar {
      width: 8px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: rebeccapurple; /* Color of the scroll thumb */
      border-radius: 4px; /* Radius of the scroll thumb */
    }

    &::-webkit-scrollbar-track {
      background-color: green; /* Color of the track */
    }
  }
}
