@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-color: #f7fafc;
  }
  
code {
    font-family: monospace;
  }

@font-face {
  font-family: 'Maven Pro';
  src: url('/fonts/static/MavenPro-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
